<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Map Project</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/popups.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/background.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
</head>
<body>

    <!-- Background element -->
    <div class="slideshow-container">
        <div class="background-image"></div>
        <div class="background-overlay"></div>
    </div>
    <script src="{{ url_for('static', filename='scripts/background.js') }}" defer></script>

    <!-- Map element -->
    <div class='custom-popup' id="map"></div>

    <!-- Toggle buttons -->
    <div id="buttons-container">
        <button class="toggle-button" onclick="toggleWaypoints('area')">
            <img src="static/images/emblems/mushroom.svg" alt="Mushroom Icon" class="button-icon">
            <span class="button-text">Areas</span>
        </button>
        <button class="toggle-button" onclick="toggleWaypoints('location')">
            <img src="static/images/emblems/flower.svg" alt="Flower Icon" class="button-icon">
            <span class="button-text">Locations</span>
        </button>
        <button class="toggle-button" onclick="toggleWaypoints('landmark')">
            <img src="static/images/emblems/star.svg" alt="Star Icon" class="button-icon">
            <span class="button-text">Landmarks</span>
        </button>
    </div>

    <div class="addon-button-container">
        <button class="addon-square-button" onclick="toggleWaypoints('arrow')">
            <img src="static/images/emblems/arrow.svg" alt="Arrow">
        </button>
        <button class="addon-square-button" onclick="toggleWaypoints('vehicle')">
            <img src="static/images/emblems/vehicle.png" alt="Vehicle">
        </button>
    </div>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

    <script src="https://unpkg.com/leaflet-virtual-grid@1.0.7/dist/virtual-grid.js"></script>

    <script>
        var waypointData = {{ waypoints | safe }};
        var arrowData = {{ arrows | safe }};
    </script>

    <script src="https://rawcdn.githack.com/bbecquet/Leaflet.RotatedMarker/0.2.0/leaflet.rotatedMarker.js"></script>
    <script src="{{ url_for('static', filename='scripts/next.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/waypoint_script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/add_waypoints_script.js') }}" defer></script>
</body>
</html>