@font-face {
    font-family: 'papermario'; /* Name of the font */
    src: url('../fonts/FOT-PopJoyStd-B.otf'); /* Path to the font file */
    /* You can also include other font formats for better cross-browser compatibility */
}

#map {
    width: 1118px;
    height: 660px;
    background-color: #009aef; /* Set the desired background color */
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.custom-popup .leaflet-popup-content {
    border-radius: 10px;
    margin: 0 0 0 0;
}

.custom-popup .leaflet-popup-content-wrapper {
background:white;
border-radius: 20px;
padding: 0 0 3px 0; /*Deleted top and bottom white sides!*/
width: 350px;
margin-bottom: 8px;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
}

.custom-popup .leaflet-container a.leaflet-popup-close-button {
    color:white;
}

.image-container {
    overflow: hidden; /* Crop overflow content */
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    margin: 0;
    position: relative;
    width: 350px; /* Adjust width as needed */
    height: auto;
}

/* Overlay for the fade effect */
.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Adjust height for the fade effect */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Fade from transparent to opaque white */
}

/* Define styles for the image within the container */
.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    margin: 5px 5px 5px 5px;
    width: 325px;
    top: -50px;
    bottom:5px;
}

.title-text {
    font-size: 15px;
    font-family: 'papermario';
    bottom: -5px;
}

.info-text {
    font-size: 13px;
    font-family: 'papermario';
}

.rotated-marker {
    transform-origin: center center;
    transform: rotate(45deg); /* Adjust the angle as needed */
}