@font-face {
    font-family: 'papermario'; /* Name of the font */
    src: url('../fonts/FOT-PopJoyStd-B.otf'); /* Path to the font file */
}

#map {
    width: 1300px;
    height: 800px;
    background-color: #009aef; /* Set the desired background color */
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.leaflet-container img.leaflet-tile {
	/* See: https://bugs.chromium.org/p/chromium/issues/detail?id=600120 */
	mix-blend-mode: plus-lighter;
}

body {
    margin: 0;
    overflow: hidden;
}