.carousel-container {
    position: relative;
    width: 450px; /* Set to the width of your popup */
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Carousel Items */
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
}

.carousel-item.active {
    display: block;
    width:450px;
    height:auto;
    opacity: 1;
}

/* Ensure the image fits the container */
.carousel-item img {
    width: 100%; /* Makes the image fit the container width */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes any default spacing below images */
}

/* Carousel Controls */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
    font-size: 18px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}